<%- include('./head.ejs') %>


    </head>

    <body>

        <main>

            <div class="centered">
                <h2>Total:
                    <%= totalSum %>
                </h2>
            </div>
            <div class="centered">
                <button id="order-btn" class="btn">ORDER</button>
                <script src="https://js.stripe.com/v3/"></script>
                <script>
                    var stripe = Stripe('pk_test_51NYn4JSBGFTO8Du1NNt42qqwqj8DVSRHZMy3D4UeyNvUBo7y8VXcOi5Ip01O73xpMn2qphs9kFiLdStGO3pSBqUh00Xa8ZEWiv');
                    var orderBtn = document.getElementById('order-btn');
                    orderBtn.addEventListener('click', function() {
                        stripe.redirectToCheckout({
                            sessionId: '<%= sessionId %>'
                        });
                    });
                </script>
            </div>
        </main>
        <%- include('./end.ejs') %>